<div class="container">
  <h1>Vamo allaaaaaa</h1>
<h2>{{ moto }}</h2>
<ul>
  <li *ngFor="let elements of todos">
    {{ elements }}
  </li>
</ul>
<hr />
<h2>{{ 'Hello'.repeat(4) }}</h2>
<p>The sum of 1 + 1 is {{ 1 + 1 }}</p>
<p>H i my name is {{ name }} and I'm {{ age }}</p>
<hr />
<img [src]="person().avatar" [alt]="person().alt"/>
<br />
<input type="number" [value]="person().age" />
<button [disabled]="disabled">Click me</button>
<p>Person: {{ person().name }}</p>
<hr />
<button (click)="clickHandler()">function clickHandler </button>
<hr />
<button (dblclick)="doubleClickHandler()">function doubleClickHandler </button>
<hr />

<p>keyupHandler function output check console  </p>
<input type="text" (keyup)="keyupHandler($event)"/>

<p>keyupHandler function output with key combinations </p>
<input type="text" (keyup.shift.k)="keyupHandler($event)"/>

<p>SIGNALS</p>
<input type="number" (change)="changeHandler($event)"/>
<p>changeHandler function output with signal {{ newAge() }}</p>

<input type="text" (change)="addTask($event)"/>
<p>addTask function output with signal </p>
<pre>
  <code>
    {{ tasks() | json}}
  </code>
</pre>
<ul>
  <li *ngFor="let elements of tasks(); index as i">
   {{ i + 1 }} {{ elements }}
  </li>
</ul>
<hr />
<div *ngIf="1 !== 1">
  My content
</div>
<!-- ngIf i just a conditional -->
<div *ngIf="person().name === 'jhonny'">
  My name is Jhonny
</div>
<hr />
<input type="number" (change)="changeAge($event)"/>
<div *ngIf="person().name === 'Jhonny' && person().age >= 20; else elseBlock">
  My name is Jhonny and I'm in my twenties
</div>
<ng-template #elseBlock>
  My name is Jhonny and I'm under age
</ng-template>
<hr />
<input type="text" (change)="changeName($event)"/>
<div [ngSwitch]="person().name">
  <p *ngSwitchCase="'Jhonny'">I'm Jhonny</p>
  <p *ngSwitchCase="'Charlie'">I'm Charlie</p>
  <p *ngSwitchCase="'Joseph'">I'm Joseph</p>
  <p *ngSwitchCase="'Alan'">I'm Alan</p>
  <p *ngSwitchDefault="'Alan'">I'm nobody</p>
</div>
<hr />
<input type="color" [formControl]="colorCtrl" />
<p>Color: {{ colorCtrl.value }}</p>
<hr />
<svg>
  <g>
    <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"></rect>
  </g>
</svg>
<hr />
<input type="number" [formControl]="widthCtrl" />
<div class="box" [style.width.px]="widthCtrl.value"></div>
</div>
